{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mg-top">
        <h1>Commande reçue avec succés! </h1>
        <p>Votre commande vous sera livrée sous peu de temps! </p>

        <h2> Récapitulatif</h2>

            <ul>
                {% for article in order.articles %}
                    <li>{{ article.quantity }} x {{ article.pizza.name }} ({{article.total}}) </li>
                {% endfor %}            
            </ul>
        <p>Total de la commande: {{ order.total }} </p>

    </div>

{% endblock %}