
{% extends 'base.html.twig' %}

{% block body %}
<div class="container mg-top">
    <h1>Administration</h1>

    <a class="btn" href="{{ path('app_admin_pizza_create') }}">
        <i class="fa-solid fa-pizza-slice"></i>
        <span>Ajouter une pizza</span>
    </a>


    <a class="btn" href="#">
        <i class="fa-solid fa-users"></i>
        <span>Gérer les utilisateurs</span>
    </a>

    <a class="btn" href="#">
        <i class="fa-solid fa-arrow-up-wide-short"></i>
        <span>Gérer les commandes</span>
    </a>


</div>



{% endblock %}